/* Grundstruktur */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ebedee;
  overflow-x: hidden; /* Kein horizontales Scrollen */
  overflow-y: hidden; /* Kein vertikales Scrollen */
}

/* Header */
header {
  font-size: 1rem;
  background: linear-gradient(90deg, #007bb5, #005b8c);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Raum buchen Button im Header */
.header-button {
  background-color: white;
  text-align: center;
  width: 120px;
  color: #007bb5;
  border: 2px solid #007bb5;
  border-radius: 8px;
  padding: 16px 60px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
}

.form-container {
  max-width: 800px;
  min-height: min-content;
  width: 90%; /* Passt sich an den Bildschirm an */
  padding: 10px; /* Mehr Polsterung */
  margin: auto; /* Zentriere das Formular horizontal */
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #007bb5;
  margin-top: 100px;
  height: calc(80vh - 200px); /* 80% der View Hight - 200px */
}

/* Eingabefelder */
.field-container {
  margin-bottom: 20px;
}

.field-container label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.field-container notbold {
  font-weight: normal;
}

.field-container input,
.field-container select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f8f9fa;
}

.field-container input:focus,
.field-container select:focus {
  border-color: #007bb5;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Submit-Button */
.submit-button {
  display: block;
  margin: 20px auto 0;
  background: linear-gradient(90deg, #007bb5, #005b8c);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: #005b8c;
}

/* Current Event */
#current-meeting {
  background: linear-gradient(90deg, #007bb5, #005b8c);
  color: white;
  text-align: center;
  font-size: 1.4rem;
  padding: 5px;
  border-radius: 12px; 
  border-style: solid;
  border-color: #333;
  margin: 90px auto 20px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);
}

/* Überschrift des Meetings */
#current-meeting #current-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2px; /* Reduziere den Abstand nach unten */
}

/* Veranstalter */
#current-meeting #current-organizer {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 20px; /* Reduziere den Abstand nach unten */
  margin-top: 5px;
}

/* Zeitangaben */
#current-meeting #current-time {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 5px; /* Reduziere den Abstand nach oben */
  margin-bottom: 0; /* Entferne zusätzlichen Abstand nach unten */
}

/* Allgemeine Kartenansicht */
#card-view {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Mehr Abstand zwischen Karten */
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
  max-height: calc(80vh - 800px);
}

/* zukünftige Event Karten */
.event-card {
  background-color: #e2e6ea;
  color: #333;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: static;
}

/* Toggle Button */
#toggle-view {
  position: fixed;
  width: 170px;
  bottom: 70px;
  right: 20px;
  background: linear-gradient(90deg, #007bb5, #005b8c);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 1000;
}

#toggle-view:focus,
#toggle-view:active {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
}

/* Kalenderansicht */
#calendar-view {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  margin: 140px auto 20px;
  max-width: 95%;
  height: calc(80vh - 200px); /* 80% der View Hight - 200px */
  overflow: hidden;
}

footer {
  font-size: 12px;
  background: linear-gradient(90deg, #007bb5, #005b8c);
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#clock {
  font-size: large;
}